.container {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.recordButton {
  font-size: 16px;
  min-width: 80px;
  border-radius: 4px;
  padding: 12px 8px;
  border: none;
  color: white;
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
  margin: 5px;
  background-color: #17a2b8;
}
