.container {
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.displayDate {
  font-size: 14px;
  font-style: italic;
}

.button {
  min-width: 50px;
  border-radius: 4px;
  padding: 12px 8px;
  color: white;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
  margin: 5px;
}

.text {
  min-width: 90px;
}

.description {
  font-size: 16px;
}

.deleteButton {
  font-size: 14px;
  background-color: #dc3545;
}

.saveButton {
  font-size: 14px;
  background-color: #28a745;
}

.editButton {
  font-size: 14px;
  background-color: #6c757d;
  display: block;
}