.container {
  text-align: center;
}

.button {
  font-size: 16px;
  min-width: 80px;
  border-radius: 4px;
  padding: 12px 8px;
  border: none;
  color: white;
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
  margin: 5px;
}

.addTodoButton {
  background-color: #007bff;
}

.input {
  border: 1px solid #e8e8e8;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px 12px 6px;
  font-size: 16px;
  line-height: 36px;
  width: 70%;
  vertical-align: middle;
  -webkit-appearance: none;
  min-width: 0;
}